@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
}

body {
    background: #ffffff;
}

.wrapper {
    width: 70%;
    margin: 0 auto;
}

.search-form {
    border: 1px solid #b187de;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-link {
    text-decoration: none;
    color: #fcd5fc;
    font-size: 24px;
    font-weight: bold;
}

.create-btn {
    border: none;
    background: rgba(212, 19, 255, 0.73);
    color: #170000;
    width: 200px;
    height: 80px;
    border-radius: 15px;
    font-size: 26px;
    font-weight: bold;
    transition: all 0.3s ease;
    box-shadow: -9px 11px 12px -9px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -9px 11px 12px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -9px 11px 12px -9px rgba(0, 0, 0, 0.75);
}

.create-btn:hover {
    cursor: pointer;
    background: #3b013b;
    color: #f6ebff;
    transition: all 0.3s ease;
    box-shadow: -9px 11px 16px 0 rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -9px 11px 16px 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -9px 11px 16px 0 rgba(0, 0, 0, 0.75);
}

input::-webkit-calendar-picker-indicator {
    display: none;
}

input {
    background: #e7c7fc;
    border: 1px solid #3b013b;
    color: #1e0000;
    width: 200px;
    height: 50px;
}

input:disabled {
    background: rgba(120, 80, 152, 0.78);
}

input::placeholder {
    color: #1e0000;
}

.form-group {
    margin: 10px;
}

.create-advertisement-form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    padding: 55px 15px;
    background: #fcd5fc;
    border: 1px solid #3b013b;
    border-radius: 15px;
    width: 700px;
    align-items: center;
}

.create-advertisement-form .form-group {
    width: 230px;
}

.btn {
    border: 1px solid #3b013b;
    width: 60px;
    height: 40px;
    background: #670267;
    color: #f6ebff;
}

.log-btn {
    width: 150px;
    height: 50px;
}

.login-box {
    margin-top: 100px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.login-form {
    display: flex;
    flex-direction: column;
    padding: 55px 15px;
    gap: 25px;
    background: #fcd5fc;
    border: 1px solid #3b013b;
    border-radius: 15px;
    width: 500px;
    justify-content: center;
    align-items: center;
}

.login-form input {
    width: 250px;
}