.HeaderWrap{
    width: 100vw;
    background: rgba(151, 42, 253, 0.89);
    height: 70px;
    display: flex;
    align-items: center;
}
.HeaderBox{
    display: flex;
    justify-content: space-between;
}